<!DOCTYPE html>
<html>
<head>
  <title>QuestBoard</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<div style="float: left;width: 40%;height: 55%;position:relative;left:5em;border: 0px solid rgba(208, 208, 208, 0.67);position: relative;top:25%;">
		<%= link_to "QuestBoard", root_path, class: "logo", style: "float: left; color: white" %>
		<%= link_to "Log out", logout_user_path, class: "logo", style: "float: left; color: white" %>
	</div>
</div>

<%#= yield %>
<div class="container-body">
  <div class="container-container" style="padding: 01em;background-color: transparent;">
		<%= yield %>
	</div>
</div>

</body>
</html>
