<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<div class="input-group">
<div class="col-lg-5 col-md-offset-5">

<%= form_for :quest, :url => update_quest_path(params[:id]) do |f| %>
        <%= f.text_field :title, :value => @quest.title, placeholder: "Enter quest title" ,class:"form-control"%>
         <%= f.text_area :description, :value => @quest.description, placeholder: "Enter post content" ,class:"form-control"%>
         <%= f.text_field :bounty, :value => @quest.bounty, placeholder: "Enter quest bounty",class:"form-control"%>
         <%= f.date_select :due_date, :order => [:day, :month, :year] %>
         <div class="checkbox">
         <label>
         <%= f.check_box :is_completed %> Is completed
         </label>
         </div>
         <%= f.submit "Save", class: "login-button", style: "margin-top: 0.5em;" ,class:"form-control"%>
    <% end %>
    </div>
    </div>
