<div id="container">
    <!-- Wrapper for content below nav bar -->
    <div id="wrapper" style="padding-left: 0px;">
        <!-- Keep all page content within the page-content-wrapper -->
        <div id="page-content-wrapper" class="stretch-full-height animated-med-delay fadeInRight">
        <!-- page content header -->
            <div class="row add-padding">
                <% puts "FLASH -------- #{flash[:success]}" %>
                <% flash[:success] = [] %>
                <% if flash[:success] && flash[:success].count > 0 %>
                    <% flash[:success].each do |f| %>
                      <div class="alert alert-success alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 1em;"><span aria-hidden="true">&times;</span></button>
                        <%= f %>
                        </div>
                    <% end %>
                    <br>
                <% end %>
                <div class="pull-left">
                    <h1>Hello, <%=@current_user.first_name%></h1>
                </div>
            </div>
            <div class="row no-padding">
                <br><br>
                <div class="col-md-3 col-sm-6 daily-stats">
                    <div class="panel" >
                        <a href="/quests/my_quests">
                            <div class="panel-body brand-warning-bg text-inverse">
                                <div class="pull-left">
                                    <!-- <div class="badge-circle daily-stat-left"><div class="big-text"><i class="glyphicon glyphicon-tasks"></i></div></div> -->
                                </div>
                                <span id="" class="big-text"><%=UsersQuest.where(:assignor_id => @current_user.id, :assignee_id => @current_user.id).count%></span>
                                <div class="stat text-transparent">
                                     <h3>My Quests </h3>
                                </div> 
                            </div>
                        </a>
                        <div class="panel-footer white-bg"></div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                <div class="col-md-3 col-sm-6 daily-stats">
                    <div class="panel">
                    <a href="/quests/general_quests">
                        <div class="panel-body brand-primary-bg text-inverse" >
                            <div class="pull-left">
                                <!-- <div class="badge-circle daily-stat-left"><div class="big-text"><i class="glyphicon glyphicon-briefcase"></i></div></div> -->
                            </div>
                            <span id="" class="big-text"><%=UsersQuest.where(:assignee_id => @current_user.id,:is_accepted => true).where.not(:assignor_id => @current_user).count%></span>
                            <div class="stat text-transparent">
                                 <h3>General Quests </h3>
                            </div> 
                        </div>
                        </a>
                        <div class="panel-footer white-bg"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 daily-stats">
                    <div class="panel">
                    <a href="/quests/pending_quests">
                        <div class="panel-body brand-info-bg text-inverse">
                            <div class="pull-left">
                                <!-- <div class="badge-circle daily-stat-left"><div class="big-text"><i class="glyphicon glyphicon-bullhorn"></i></div></div> -->
                            </div>
                            <span id="" class="big-text"><%=UsersQuest.where(:assignee_id => @current_user.id,:is_accepted => false,:is_rejected =>false).count%></span>
                                <div class="stat text-transparent">
                                     <h3>Pending Quests </h3>
                                </div> 
                        </div>
                        </a>
                        <div class="panel-footer white-bg">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 daily-stats">
                    <div class="panel">
                    <a href="/quests/assigned_quests">
                        <div class="panel-body brand-secondary-bg text-inverse">
                            <div class="pull-left">
                                <!-- <div class="badge-circle daily-stat-left"> -->
                                    <!-- <div class="big-text"> -->
                                        <!-- <i class="glyphicon glyphicon-phone-alt"></i> -->
                                    <!-- </div> -->
                                <!-- </div>  -->
                            </div>
                            <span id="" class="big-text"><%=UsersQuest.where(:assignor_id => @current_user.id,:is_accepted => true).where.not(:assignee_id => @current_user.id).count%></span>
                                <div class="stat text-transparent">
                                     <h3>Assigned Quests</h3>
                                </div> 
                        </div>
                    </a>
                    <div class="panel-footer white-bg"></div>
                    </div>
                </div>
            </div>

            <!-- Analytics -->
            <br>
            <div id="count-pageviews-piechart"></div>
            <br>
            <div id="count1-pageviews-piechart"></div>
            <div id="count2-pageviews-metric" style="margin-top: 5em"></div>
            <!-- /Analytics -->
        </div>
    </div>
</div>
<script type="text/javascript">
    queryAnalytics();
</script>
