<h1 class="header-title">Create a new Quest<h1>

<%# if false %>
<div>
	<%= form_for :quest, :url => create_quest_path do |f| %>
		<table style="width:80%;border-collapse: separate;border-spacing: 0em 1em;">
			<tr style="padding-bottom: 1em">
				<td><font class="label" style="width:20%;">Title: </font></td>
				<td style="width:80%;"><%= f.text_field :title, placeholder: "Enter quest title", class: "input", style: "width:100%" %></td>
			</tr>
			<tr style="padding-bottom: 1em">
				<td><font class="label">Description: </font></td>
				<td><%= f.text_area :description, placeholder: "Enter quest description", class: "textarea", style: "width:100%;resize: vertical;" %></td>
			</tr>
			<tr style="padding-bottom: 1em">
				<td><font class="label">Due date: </font></td>
				<td><%= f.date_select :due_date, :order => [:day, :month, :year] %></td>
			</tr>
			<tr><td></td><td colspan="1"><%= f.submit "Create", class: "login-button", class: "button", style: "float: right" %></td></tr>
		</table>
	<% end %>
</div>
<%# end %>