<!-- Keep all page content within the page-content-wrapper -->
          <div id="page-content-wrapper" class="animated-med-delay fadeInRight">
             
               <!-- page content header -->
                    <div class="row add-padding">
                            <div class="pull-left">
                                <h1>Pending Quests</h1>
                            </div>
                    </div><!-- / page content header -->
                    <!--Content-->
                    <br>
                    <!-- Row 2 -->
                    <div class="row col-lg-12">
                          <div class="panel panel-white-solid">
                               
                                <div class="panel-body">
                                       <!--table--> 
                                            <div class="table-responsive">
                                                     <table id="tasks" class="table table-hover table-striped table-content">
                                                      <thead>
                                                         <tr>
                                                            <th>Title</th>
                                                            <th>Status</th>
                                                            <th>Options</th>
                                                           
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                      <% @quests.each do |quest| %>
                                                      
                                                        <tr>
                                                            <td><%= link_to "#{quest.title}", quest_path(quest.id), style: "margin-bottom: 0.5em;" %></td>
                                                            <td><span class="label label-inverse label-md"><%= quest.status%></span></td>
                                                            
                                                            <td>
                                                                <div class="btn-group">
                                                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                        Action <span class="caret"></span>
                                                                      </button>
                                                                      <ul class="dropdown-menu" role="menu">
                                                                        <li><%= link_to "Accept", accept_quest_path(quest.id), method: :post, remote: true%></li>
                                                                        <li><%= link_to "Reject", reject_quest_path(quest.id), method: :post, remote: true%></li>
                                                                      </ul>
                                                                    </div>
                                                            </td>

                                                            <td>

                                                            	
                                                           </td>
                                                        </tr>
                                                        <%end%>
                                                        
                                                        <% @by_me_quests.each do |myquest| %>

                                                      
                                                        <tr>
                                                            <td><%= link_to "#{myquest.title}", quest_path(myquest.id), style: "margin-bottom: 0.5em;" %></td>
                                                            <td><span class="label label-inverse label-md"><%="Waiting"%></span></td>
                                                            
                                                            

                                                            <td>
<!--                                                            <div class="btn-group">
                                                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
                                                                        Waiting</button>
                                                            </div>-->
                                                           </td>
                                                           <td></td>
                                                        </tr>
                                                        
                                                        <%end%>
                                                        
                                                      </tbody>
                                                  </table>
                                                 </div>
                                                <!-- / table -->
                                            </div>

                                            
                                        </div> 
                       			 </div>
                             <!-- / row 2 -->

<!--                             <div class="row col-lg-12">
                          <div class="panel panel-white-solid">
                               
                                <div class="panel-body">-->
                                       <!--table--> 
<!--                                            <div class="table-responsive">
                                                     <table id="tasks" class="table table-hover table-striped table-content">
                                                      <thead>
                                                         <tr>
                                                            <th>Status</th>
                                                            <th>Title</th>
                                                            
                                                          
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                      <% @by_me_quests.each do |myquest| %>

                                                      
                                                        <tr>
                                                            <td><span class="label label-inverse label-md"><%= myquest.status%></span></td>
                                                            <td><%= link_to "#{myquest.title}", quest_path(myquest.id), style: "margin-bottom: 0.5em;" %></td>
                                                            

                                                            <td>

                                                              
                                                           </td>
                                                        </tr>
                                                        
                                                        <%end%>
                                                        
                                                        
                                                      </tbody>
                                                  </table>
                                                 </div>-->
                                                <!-- / table -->
<!--                                            </div>
                                            
                                            
                                        </div> 
                             </div>-->
                            
                    
          </div><!-- /page-content-wrapper -->