	<tr style="padding-bottom: 1em">
	
	<td style="width:80%;" ><h1 class="label label-default" ><%= @quest.title%></h1></td>
	</p>

	<td><font class="label" style="width:20%;">Description: </font></td>
	<td style="width:80%;"><font class="label"><%= @quest.description%></font></td>
	</p>
	</p>
	<td><font class="label" style="width:20%;">Bounty: </font></td>
	<td style="width:80%;"><%= @quest.bounty%></td>
	</p>
	<td><font class="label" style="width:20%;">Due date: </font></td>
	<td style="width:80%;"><%= @quest.due_date%></td>
	</p>
	<%if @quest.is_completed%>
	<td><font class="label" style="width:20%;">Completed at: </font></td>
	<td style="width:80%;"><%= @quest.completed_at%></td>
	<%end%>
	</p>

	<td><font class="label" style="width:20%;">Assgined to:</font></td>
	<font class="label" style="width:20%;"><%=@name.username%></font>
	</p>
	<%if @user_quest.is_accepted==true%>
	<td><font size="2" class="label label-info">Accepted</font></td>
	<%end%>
	<%if @user_quest.is_rejected==true%>
	<td><font size="2" class="label label-info">Rejected</font></td>
	<%end%>
	<%if @user_quest.is_accepted==false and @user_quest.is_rejected==false%>
	<td><font size="2" class="label label-info">Pending</font></td>
	<%end%>
	</p>
	<%if QuestVideo.find_by_quest_id(@quest.id).url != ""%>
	<iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@video %>"></iframe>

	<td><font class="label" style="width:20%;">Images </font></td>
	<%end%>
	<% @photos.each do |pic| %>
	<%= link_to image_tag(pic.photo.url (:small)), pic.photo.url %>

	<% end %>

</tr>
<% if @current_user.id == @assignee_id and @current_user.id != @assignor_id and @is_accepted == false and @is_rejected == false%>
<div>
	<%= button_to "Reject", reject_quest_path(@quest.id), method: :post, class: "button", style: "width: 20%;float:right;" %>
</div>
<div>
	<%= button_to "Accept", accept_quest_path(@quest.id), method: :post, class: "button", style: "width: 20%;float:right;" %>
</div>
<%end%>

