<tr style="padding-bottom: 1em">
                <td><font class="label" style="width:20%;">Title: </font></td>
                <td style="width:80%;"><%= @quest.title%></td>
                </p>
           
                <td><font class="label" style="width:20%;">Description: </font></td>
                <td style="width:80%;"><%= @quest.description%></td>
                </p>
                <td><font class="label" style="width:20%;">Completed: </font></td>
                <td style="width:80%;"><%= @quest.is_completed%></td>
                </p>
                <td><font class="label" style="width:20%;">Bounty: </font></td>
                <td style="width:80%;"><%= @quest.bounty%></td>
                </p>
                <td><font class="label" style="width:20%;">Due date: </font></td>
                <td style="width:80%;"><%= @quest.due_date%></td>
                </p>

                 <%if @current_user.id == @user_quest.assignor_id and @quest.is_completed == true %>
                <td><font class="label" style="width:20%;">Review: </font></td>
                <td style="width:80%;"><%= @user_quest.review %></td>
                <% end %>

                <td><font class="label" style="width:20%;">Completed at: </font></td>
                <td style="width:80%;"><%= @quest.completed_at%></td>
                </p>
                <td><font class="label" style="width:20%;">Status: </font></td>
                <td style="width:80%;"><%= @quest.status%></td>
                </p>
                <td><font class="label" style="width:20%;">Assgined to: </font></td>
                <td style="width:80%;"><%= @name.username%></td>
                </p>
                <td><font class="label" style="width:20%;">Is accepted: </font></td>
                <td style="width:80%;"><%= @user_quest.is_accepted%></td>
                </p>
                <td><font class="label" style="width:20%;">Is rejected: </font></td>
                <td style="width:80%;"><%= @user_quest.is_rejected%></td>
                </p>

                <%if QuestVideo.find_by_quest_id(@quest.id).url != ""%>
                <iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@video %>"></iframe>
                

                <td><font class="label" style="width:20%;">Images </font></td>
                <%end%>
                 <% @photos.each do |pic| %>
                 <%= link_to image_tag(pic.photo.url (:small)), pic.photo.url %>

                 
                <% end %>
               



</tr>
<% if @current_user.id == @assignee_id and @current_user.id != @assignor_id and @is_accepted == false and @is_rejected == false%>
<div><%= button_to "Reject", reject_quest_path(@quest.id), method: :post, class: "button", style: "width: 20%;float:right;" %></div>
<div><%= button_to "Accept", accept_quest_path(@quest.id), method: :post, class: "button", style: "width: 20%;float:right;" %></div>
<%end%>
<%if @quest.is_completed == true%>
<div><%= button_to "Review", review_quest_path(@quest.id), method: :get, class: "button", style: "width: 20%;float:right;" %></div>
<%end%>