<tr style="padding-bottom: 1em">
           
                <td><font class="label" style="width:20%;">Title: </font></td>
                <td style="width:80%;"><%= @quest.title%></td>
                </p>
           
                <td><font class="label" style="width:20%;">Description: </font></td>
                <td style="width:80%;"><%= @quest.description%></td>
                </p>
                <td><font class="label" style="width:20%;">Completed?: </font></td>
                <td style="width:80%;"><%= @quest.is_completed%></td>
                </p>
                <td><font class="label" style="width:20%;">Bounty: </font></td>
                <td style="width:80%;"><%= @quest.bounty%></td>
                </p>
                <td><font class="label" style="width:20%;">Due date: </font></td>
                <td style="width:80%;"><%= @quest.due_date%></td>
                </p>
                <td><font class="label" style="width:20%;">Completed at: </font></td>
                <td style="width:80%;"><%= @quest.completed_at%></td>
                </p>
                <td><font class="label" style="width:20%;">Status: </font></td>
                <td style="width:80%;"><%= @quest.status%></td>

            </tr>